@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --brandColor: #03d47f;
  --brandColorHover: #03c475;
  --lightBg: #fff;
  --textColor: #191a30;
  --textColorMuted: #434462;
  --textButton: #fff;
  --brandPrimary: #ad1b02;
  --brandSecondary: #DB4E18;
  --brandTarciyari: #E88D14;
  --brandYellow: #F3BE26;
  --bgColor: #f4f6fa;
  --secondaryColor: #d3ffab;
  --brandBlue:#4353ff;
  --blueLink: #4353ff;

  --brandBlueHover: #2a38cf;
  --blueLinkHover: #2a38cf;
  --darkGrey: #6e7086;
  --borderColor: rgb(210, 211, 226);
  --texture: repeating-linear-gradient(-45deg, rgba(210, 211, 226, 0.5), rgba(210, 211, 226, 0.5) 1px, transparent 1px, transparent 6px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background-color: #f2f2f2 !important;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f2f2f2 !important;
  /* background-image: var(--texture); */
  background-size: 4px 4px;
  color: var(--textColor);
  /* overflow-y: hidden; */
  max-height: 100vh;

  /* background-image:  linear-gradient(135deg, #e7eefc 20%, transparent 5%), linear-gradient(225deg, #e7eefc 20%, transparent 5%), linear-gradient(45deg, #e7eefc 20%, transparent 5%), linear-gradient(315deg, #e7eefc 20%, var(--bgColor) 5%);
  background-position:  5px 0, 5px 0, 0 0, 0 0;
  background-size: 5px 5px;
  background-repeat: repeat; */
}

a {
  color: inherit;
  text-decoration: none;
  transition: all ease .5s;
}

a:hover {
  color: var(--brandBlueHover);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--borderColor);
  width: 100%;
}

.trash img {
  filter: hue-rotate(360deg) saturate(6);
}

input, textarea{
  background-color: var(--lightBg);
  color: var(--textColor);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #191a30;
    --textColor: #d4d4d4;
    --lightBg: #242641;
    --lightBg: #0b0e22;
    --borderColor: #37385f;
    --textColorMuted: #d4d4d4;
    --blueLink: #6e7af9;
    --blueLinkHover: #838cf1;
  }
  body {
    background: var(--bgColor);
  }
  .trash img {
    filter: hue-rotate(2deg) saturate(7) brightness(2);
  }
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-button-wrapper {
  padding: 5rem 7rem;
  background: #1178d333;
  border-radius: 8px;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #ad0004; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.recharts-wrapper{
  position: relative;
    cursor: default;
    width: 1023px;
    height: 300px !important;
}

.chat-back-1{
  background: #8080803d
}
.chat-back-2{
  background: #ad1b0230
}

.custom-div {
  background-image: url('../Asset/1.png');
  /* You can also adjust other background properties as needed */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.in-lp-filter select {
  margin-bottom: .8rem;
  border-radius: 5px;
  padding: .3rem 0;
  border-color: var(--c-primary);
  color: var(--c-text);
} 

.in-rs-hldr {
    height: 50vh;
    box-shadow: 0px 0px 6px #0000004D;
    display: flex;
    flex-direction: column;
    padding: .5rem 0 0;
    overflow-y: auto;
}
.in-rs-hldr h2 {
    margin-bottom: 1.5rem;
}
.in-rs-hldr h2 span {
    font-size: 1.25rem;
    color: var(--c-primary);
    background-color: var(--c-primary60);
    padding: 4px 15px 4px 10px;
    border-radius: 0 100px 100px 0;
}
.in-rs-hldr h2 span img {
    height: 1.2rem;
    margin-left: 2rem;
}

.in-lp-filter label {
  color: var(--c-primary);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: .3rem;
}
.in-lp-filter select {
  margin-bottom: .8rem;
  border-radius: 5px;
  padding: .3rem 0;
  border-color: var(--c-primary);
  color: var(--c-text);
}

:root {
  --fading-height: 150vh; /* Change this value to control the height of the fading effect */
  --fade-color: rgba(255, 255, 255, 0); /* Change this value to control the fading color and transparency */
}

.fading-background {
  height: 150vh; /* Adjust the height of the div as needed */
  background: #F1F6FA;
}

.menu-text{
  padding: 3px;
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #737791;
  padding: 0 10px;
}

/* .menu-text:hover,
.menu-text:active{
  color: #fff;
} */


.active:hover,
.active:active {
  background-color: #1E73F7;
  border-radius: 10px;
  /* margin: 10px; */
}
.active:hover .menu-text,
.active:active .menu-text {
  color: #fff;
}

.active:hover svg,
.active:active svg {
  fill: #fff;
}


.new-logo{
  margin-left: 1rem;
}

.ag-logo {
  font-size: 1.375rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}


.ag-header {
  height: 4rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 20px;
  display: flex;
  align-content: center;
  background-color: #fff;
}


.ag-logo span {
  width: 3.188rem;
  height: 3.188rem;
  border-radius: 0.625rem;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-text-head{
  font-size: 32px;
    font-weight: 500;
    color: black;
}
.MuiDrawer-paperAnchorLeft{
  background: white !important;
}
.MuiDrawer-paperAnchorRight{
  background: white !important;
}



.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


.css-jh47zj-MuiButtonBase-root-MuiButton-root,
.css-1k23hlb-MuiButtonBase-root-MuiButton-root,
.css-9y1egq-MuiButtonBase-root-MuiButton-root,
.css-11qr2p8-MuiButtonBase-root-MuiButton-root {
  padding: .3rem !important;
  min-width: 0 !important;
}
.at-chartSrcbtn {
  width: auto;
  float: left;
  /* background-color: red; */
}
.at-chartbtnhldr {
  width: auto;
  float: right;
  /* background-color: green; */
}
/* .recharts-wrapper, */
.recharts-responsive-container {
  clear: both;
  padding-top: 1.5rem;
}

